/StatPhys/cheatsheet.fdb_latexmk
/StatPhys/cheatsheet.fls
/StatPhys/cheatsheet.aux
/StatPhys/cheatsheet.log
/StatPhys/cheatsheet.synctex.gz
/StatPhys/cheatsheet.blg
/StatPhys/cheatsheet.bbl
/Quantum/quantum.aux
/Quantum/quantum.bbl
/Quantum/quantum.blg
/Quantum/quantum.log
/Quantum/quantum.synctex.gz
/Quantum/quantum.fdb_latexmk
/Quantum/quantum.fls
/Quantum/auto/quantum.el

